
.countdown-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    height: 100vh;
    background: linear-gradient(135deg, #211a4c 0%, #8200ff 100%);
}
.inner-container {
    margin: auto;
    padding: 3rem ;
    background-color: white;
}
.counter-cd {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-cd h1 {
    font-size: 5rem;
}
input {

    width: 97%;
    padding: 1rem .7rem;
    border: none;
    border-bottom: 2px solid purple;
    background: transparent;
    font-size: 1rem;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
.cd-btns:hover{
    background-color: #cdcdcd;
}
.start:hover {
    background-color: #8200ff;

}
.btns {
    margin-top: 0.5rem;
}
.cd-btns {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
    margin: 5px;
    border: none;
}
.start {
    margin-top: 1rem;
    background-color: #211a4c;
    color: white;
    border: none;
}

@media screen and (max-width: 700px) {
    .inner-container {
        max-width: 450px;
        min-height: 320px;
    }
    .counter-cd {
        height: 120px;
    }
    .counter-cd h1 {
        font-size: 4rem;
    }
    .cd-btns {
        width: 100%;
        padding: 0.7rem 0;
        font-size: 1rem;
        margin: 5px;
    }
}
@media screen and (max-width: 600px) {
    .countdown-wrapper {
        height: 100vh;
        background: white;

    }
    .inner-container {
        max-width: 350px;
        min-height: 220px;
        margin-top: 6rem;
    }
    .counter-cd h1 {
        font-size: 3rem;
    }
    .cd-btns {
        width: 100%;
        padding: 0.5rem 0;
        font-size: 1rem;
        margin: 5px;
    }
    .navbar{
        padding:0;
    }
    ul{
        margin-right: 2rem;
    }
    ul li img{
        height:2rem
      }
    .start{
        margin-bottom: 0;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 330px) {
    .counter-cd h1 {
        font-size: 2rem !important;
    }
}
