.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 3rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.counter {
    display: flex;
}
.count {
    font-size: 5rem;
    padding: 1rem;
    background-color: blueviolet;
    color: white;
    font-weight: 300;
    box-shadow: rgb(128, 0, 128, 0.5) 0px 20px 30px -10px;
    border-radius: 10px;
}
.colon {
    font-size: 4rem;
    padding: 2rem 0.5rem;
    color: blueviolet;
}

.buttons {
    width: 100%;
    margin-top: -2rem;
    text-align: center;
}
.btn {
    padding: 0.8rem 2.5rem;
    margin: 10px;
    font-size: 1rem;
    border: none;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(128, 0, 128, 0.2) 0px 20px 25px -5px,
        rgba(128, 0, 128, 0.04) 0px 10px 10px -5px;
}

@media only screen and (max-width: 755px) {
    .container {
        padding: 2rem 2rem;
    }
    .count {
        font-size: 4rem !important;
        padding: 0.4rem;
    }
    .colon {
        font-size: 4rem !important;
        padding: 0.4rem;
    }
}

@media only screen and (max-width: 500px) {
    .count {
        font-size: 3rem !important;
    }
    .colon {
        font-size: 3rem !important;
    }
    .btn {
        padding: 0.5rem 1.5rem;
    }
}

@media only screen and (max-width: 410px) {
    .count {
        font-size: 2.5rem !important;
    }
    .colon {
        font-size: 2.5rem !important;
    }
}
@media only screen and (max-width: 375px) {
    .count {
        font-size: 2rem !important;
    }
    .colon {
        font-size: 2rem !important;
    }
}
@media only screen and (max-width: 300px) {
    .count {
        font-size: 1.5rem !important;
    }
    .colon {
        font-size: 1.5rem !important;
    }
}