.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
}
.container {
    width: 30rem;
    height: 25rem;
    max-width: 550px;
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.overlap-box {
    width: 50rem;
    position: absolute;
    border-radius: 10px;
    height: 10rem;
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.counter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.counter h1 {
    font-size: 5rem;
    color: white;
}

.buttons {
    text-align: center;
    margin-top: -1rem;
}
.btn {
    margin-right: 10px;
    padding: 0.5rem 2rem !important;
    border-radius: 5px;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .container {
        width: 22rem;
        height: 22rem;
    }
    .overlap-box {
        width: 35rem;
    }
    .counter h1 {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        width: 18rem;
        height: 18rem;
    }
    .overlap-box {
        width: 27rem;
    }
    .counter h1 {
        font-size: 3rem;
    }
    .buttons {
        margin-top: -0.7rem;
    }
    .btn {
        padding: 0.2rem 1rem !important;
    }
}
@media only screen and (max-width: 485px) {
    .wrapper {
        background-color: #526573 !important;
        background-image: none;
        align-items: flex-start;
    }
    .container {
        background-color: #526573;
        background-image: none;
        margin-top: 2rem;
        height: 22rem;
    }
    .overlap-box{
        background-color: #526573;
        background-image: none;
        width:fit-content;
        box-shadow: none;

    }
    .buttons{
        margin-top: 0;
    }
    .btn{
        padding: 0.5rem 2rem !important;
    }
}
