body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  padding: 1rem 0;
  position: absolute;
  width:100%;
  display: flex;
  justify-content: flex-end;

}
ul{
  display: flex;
  list-style: none;
  width:fit-content;
  padding-left: 0% !important;
  margin-right: 5rem;

}
ul li{
    margin:0 1rem ;
}
 ul li img{
   height:3rem
 }
@media only screen and(max-width:900px){
  html{
    font-size: 90%;
  }
}
